@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    
}

header{
    background-image: linear-gradient(to top, aquamarine,blueviolet);
    width: 100%;
    height: 25vh;
    border-bottom:4px solid rgba(59, 59, 59, 0.896) ;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    padding-left: 45%;
    padding-top: 45px;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    
}
header>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding-left: 41%;
    padding-top: 25px;
    color: white;
    text-shadow: 1px 4px 4px black;
}
section{
    background-color: rgb(235, 254, 255);
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 40px;
    border:4px solid rgba(59, 59, 59, 0.896) ;
    border-radius: 19px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, aquamarine, blueviolet);
    padding:.5em ;
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom:4px solid rgba(59, 59, 59, 0.896) ;
    color: #fff;
    text-shadow: 3px 3px 16px rgba(0, 0, 0, 0.358);
}
picture{
   
    margin-left:5% ;
}

section>p{
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
iframe{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 18%;
}
a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
footer{
    background-color: rgb(80, 239, 186);
    height: 2.3em;
    border-top:4px solid rgba(59, 59, 59, 0.896) ;
    margin: auto;
}
footer>p{
    
    margin-left: 47%;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
